@tailwind base;
@tailwind components;
@tailwind utilities;



.react-international-phone__flag-img {
  border-radius: 50% !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
